@model IList<RSS_Reader.Models.Domain.FeedModel> 
@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    @foreach (var feed in Model)
    {
        <div class="card">
            <div class="header">
                <div class="img-box">
                    <img src="@feed.ImageUrl" alt="@feed.Name" />
                </div>
                <h2 class="title">@feed.Name</h2>
            </div>

            <div class="content">
                <p>@feed.Description</p>

                <a class="btn-link" href="@feed.Url">Read More...</a>
            </div>
        </div>
    }
</div>
