@model RSS_Reader.Models.Domain.FeedModel

@{
    ViewData["Title"] = "Home Page";
}


        <article class="card" data-feed-id="@Model.Id">
            <div class="card_selection_icon" style="display: none;"><i class="fas fa-check"></i></div>
            <div class="temporary_text">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="card_image" />
            </div>
            <div class="card_content">
        <span class="card_title">@Model.Name</span>
        <span class="card_subtitle">@Model.Url</span>
        <p class="card_description">@Model.Description</p>
            </div>
        </article>



@section Scripts {
    <script src="~/js/site.js"></script>
}
