@model List<RSS_Reader.Models.Domain.FeedModel>

@{
    ViewData["Title"] = "Home Page";
}


<div class="cards-grid" id="feed-container">
    @foreach (var feed in Model)
    {
        <article class="card" data-feed-id="@feed.Id">
            <div class="card_selection_icon" style="display: none;"><i class="fas fa-check"></i></div>
            <div class="temporary_text">
                <img src="@feed.ImageUrl" alt="@feed.Name" class="card_image" />
            </div>
            <div class="card_content">
                <span class="card_title">@feed.Name</span>
                <span class="card_subtitle">@feed.Url</span>
                <p class="card_description">@feed.Description</p>
            </div>
        </article>
    }
</div>


@section Scripts {
    <script src="~/js/site.js"></script>
}
